body {
  margin: 0;
  padding: 0;
  background: radial-gradient(circle at top, #0a0a0f, #000);
  font-family: 'Poppins', sans-serif;
  color: #fff;
  overflow-y: scroll;
}

h1 {
  text-align: center;
  color: #8bc8ce;
  text-shadow: 0 0 15px #00eaff;
  margin-top: 30px;
  letter-spacing: 2px;
}

.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 30px;
  padding: 40px;
}

.card {
  background: rgba(25, 25, 35, 0.9);
  border: 1px solid #10393c;
  border-radius: 20px;
  padding: 25px;
  box-shadow: 0 0 15px #00eaff55;
  transition: transform 0.3s, box-shadow 0.3s;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 0 25px #00eaff;
}

.card h2 {
  text-align: center;
  color: #d19a03a3;
}

.task {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 15px 0;
}

input[type="checkbox"] {
  transform: scale(1.3);
  cursor: pointer;
  accent-color: #00eaff;
}

.progress {
  width: 100%;
  background: #111;
  border-radius: 10px;
  overflow: hidden;
  margin-top: 15px;
}

.progress span {
  display: block;
  height: 10px;
  background: linear-gradient(90deg, #00eaff, #0077ff);
  width: 40%;
}

button {
  display: block;
  margin: 40px auto;
  padding: 12px 35px;
  border: none;
  border-radius: 25px;
  background: linear-gradient(90deg, #0077ff, #00eaff);
  color: white;
  font-size: 18px;
  cursor: pointer;
  transition: transform 0.2s;
}

button:hover {
  transform: scale(1.1);
}
